<html>
    <head>   
      <%- include('./layout/head'); %> 
    </head>

    <body>
    
    <%- include('./layout/header'); %> 
    <main role="main">
		<div class="container">
			<div class="jumbotron">
			<div class="container">
			  <h1 class="display-3">Report</h1>
			</div>
    </div>
    <h2>Please Connect to this website for more information:</h2>
    <address>
      Nguyễn Xí, FPT GREENWICH<br />
      <abbr title="Phone">P:</abbr>
      093.706.7986
  </address>
  
  <address>
      <strong>Support:</strong>   <a href="mailto:toanncgcs18030@gmail.com">toanncgcs18030@gmail.com</a><br />
  </address>
    </main>
	
    </body>
	
</html>